.container {
    width: 100%;
    display: block;
    position: relative;
}

.container.regular-padding {
    width: 1080px;
    margin: 0 auto;
    @media screen and (max-width: 1070px) {
        width: 960px;
    }
    @media screen and (max-width: 960px) {
        width: 720px;
    }
    @media screen and (max-width: 720px) {
        width: 540px;
    }
}

.root-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    @media screen and (max-width: 1070px) {
        height: unset;
        min-height: 100vh;
        padding-bottom: 48px;
        background: black;
    }
    main {
        flex-grow: 1;
    }
}